/* About Me */
#about-intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 3rem;
}

.about-quote {
	font-size: clamp(1.2rem, 1rem + 1vw, 1.5rem);
	color: var(--dark-txt);
	margin-bottom: 2.5rem;
}

@media screen and (max-width: 1100px) {
	#about-intro {
		grid-template-columns: 2fr 1fr;
		& img {
			height: 100%;
			object-fit: cover;
		}
	}
}

@media screen and (max-width: 800px) {
	#about-intro {
		grid-template-columns: 1fr;

		& img {
			object-fit: cover;
			grid-row: 1;
			aspect-ratio: 1/1;
			object-position: 50% 40%;
		}
	}
}

/* Expertise */
#my-experience {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.8rem;
	margin: 6rem auto;
}

#my-experience .exp-card {
	display: flex;
	flex-direction: column;
	background-color: var(--light-bg);
	padding: 1.8rem;
	border-radius: 0.5rem;
	border: 1px solid hsl(0, 0%, 87%);
}

#my-experience .exp-column {
	display: grid;
	grid-template-rows: repeat(3, 16.6rem);
	gap: 1.8rem;
}

#my-experience .card-date,
#my-experience .card-title {
	font-family: var(--text-display);
	color: rgb(50, 50, 50);
}

#my-experience .card-date {
	font-size: 1.125rem;
	font-weight: 500;
}

#my-experience .card-title {
	font-size: 1.8rem;
	font-weight: 500;
}

#my-experience .card-location {
	font-weight: 500;
	flex-grow: 1;
	align-content: end;
}

@media screen and (max-width: 800px) {
	#my-experience {
		grid-template-columns: 1fr;
		& .exp-column{
			grid-template-rows: repeat(3, minmax(16.6rem, auto));
		}
	}
}

#my-experience h3 > i {
	font-size: 2.4rem;
	color: var(--heading);
	text-align: end;
	margin-right: 1rem;
	position: relative;
	top: 0.3rem;
}

/* Why choose my services? */
#why-my-services{
	text-align: center;
}

#why-my-services .services-grid {
	display: grid;
	grid: auto / repeat(3, 1fr);
	gap: 3rem;
	margin-top: 3rem;
	justify-items: center;
}

#why-my-services .service-title {
	font-size: 1.2rem;
	color: var(--heading);
	font-weight: 500;
}

.services-grid>div{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	max-width: 19rem;
}

.services-grid img{
	width: 8rem;
	margin-bottom: 1rem;
}


@media screen and (max-width: 900px) {
	#why-my-services .services-grid {
		grid-template-columns: 1fr;
	}
}

/* My Clients */
#my-clients{
	text-align: center;
	margin-bottom: 10rem;
}

#my-clients .clients-grid{
	display: grid;
	grid: auto/repeat(3,1fr);
	align-items: center;
	justify-items: center;
	row-gap: 3rem;
	margin-top: 3rem;
}

#my-clients img{
	width: auto;
}

.clients-grid :nth-child(2){
	height: 6rem;
}

.clients-grid :nth-child(3){
	height: 5rem;
}

.clients-grid :nth-child(4){
	height: 4rem;
}

.clients-grid :nth-child(5){
	height: 6rem;
}

.clients-grid :nth-child(6){
	height: 3rem;
}

@media screen and (max-width: 900px) {
	#my-clients .clients-grid {
		grid-template-columns: 1fr;
		gap: rem;
	}
}

