/* Global */
:root {
	--primary: hsla(19, 100%, 49%, 1);
	--secondary: hsla(205, 70%, 52%, 1);
	--body: hsla(0, 0%, 31%, 1);
	--heading: hsla(227, 48%, 27%, 1);
	--dark-bg: hsla(221, 53%, 13%, 1);
	--light-bg: hsla(0, 0%, 96%, 1);
	--dark-txt: hsl(0, 0%, 19%);
	--text-display: "Zilla Slab", serif;
	--text-body: "Ubuntu", sans-serif;
	scroll-behavior: smooth;
	font-size: 16px;
}

/* Defaults */
* {
	box-sizing: border-box;
	margin: 0;
	transition: 0.3s ease-in-out;
	font-family: var(--text-body);
	color: var(--body);
	line-height: 1.6em;
}

img {
	max-width: 100%;
	height: auto;
}

/* Typography */
:is(h1, h2, h3, h4, h5, h6) {
	line-height: 1.2em;
	margin-bottom: 1rem;
	font-family: var(--text-display);
	font-weight: 600;
	color: var(--heading);
	text-wrap: balance;
	& :not(header) {
		margin-top: 2rem;
	}
}

h1 {
	font-size: 3.6rem;
}
h2 {
	font-size: 2.8rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1rem;
}

p {
	margin-bottom: 1.1rem;
	line-height: 2em;
	text-wrap: pretty;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2rem;
	& li {
		margin-bottom: 0.75rem;
		line-height: 2em;
	}
	& ul {
		margin-bottom: 1.1em;
	}
}

.body-large {
	font-size: 1.5rem;
}

/*Global  */
.container-grid {
	display: grid;
	align-content: center;
	row-gap: 3.7rem;
	max-width: 1280px;
	margin: 60px auto;
	padding: 0 20px;
}
.terms {
	font-size: 16px;
	text-wrap: pretty;
	& h2 {
		font-size: 1.8em;
	}
}

section.terms,
div.terms {
	max-width: 75ch;
}

section.container {
	margin: 7rem auto;
}

.curved {
	border-radius: 1.1rem;
}

footer ul,
nav ul,
.contact-info {
	padding-inline-start: 0;
	list-style-type: none;
}

/* Buttons */
.primary-btn {
	display: inline-block;
	padding: 0.6rem 2.5rem;
	background-color: var(--primary);
	border-radius: 40px;
	font-family: var(--text-body);
	font-weight: 500;
	text-decoration: none;
}

.secondary-button{
	display: inline-block;
	font-size: 1rem;
	padding: 0.2em 1.4em;
	border: 2px solid var(--secondary);
	border-radius: 40px;
	font-family: var(--text-body);
	font-weight: 500;
	text-decoration: none;
	color: var(--secondary);
	&:hover {
		background-color: var(--secondary);
		color: white;
	}
	& i{
		color:inherit;
		font-size: 0.8em;
		position: relative;
		left: 6px;
		top: 1.2px;
	}
}

.primary-btn,
.primary-btn:hover {
	color: white;
}

.primary-btn:hover {
	filter: brightness(115%);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
	transform: translate(0%, -2px);
}

div > .primary-btn {
	margin-top: 1rem;
}

/* Navigation */

nav {
	justify-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 20px;
	font-family: var(--text-body);
	font-weight: 500;
	font-size: 1.1rem;
	position: sticky;
	top: 0;
	z-index: 3;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.116);
}

nav img {
	width: 300px;
	height: auto;
	transform: translateY(4px);
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	flex-shrink: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav a {
	color: hsl(0, 0%, 45%);
	text-decoration: none;
}

nav a:hover {
	color: var(--primary);
}

a.active {
	color: #2a2a2a;
}

/* Header */
header.hero-bg {
	height: 15.4rem;
}

header .hero-content {
	align-content: center;
	justify-content: start;
	flex-grow: 1;
}

header {
	display: flex;
	position: relative;
	background: url(../images/global/header.jpg) no-repeat center center fixed;
	background-size: cover;
}

header h1,
header p {
	color: white;
}

header p {
	font-size: 1.2rem;
}

/* Color Overlay */
header::after {
	content: "";
	position: absolute;
	opacity: 0.7;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: var(--dark-bg);
}

.hero-bg > * {
	z-index: 1;
}

/* Contact CTA */
.contact-cta {
	color: white;
	text-align: center;
	background: url(../images/global/contact_cta.jpg) center;
	background-size: cover;
}

.gray-filter {
	backdrop-filter: grayscale(100%);
}
.contact-cta h2,
.contact-cta span {
	color: white;
}

.contact-cta > div {
	background-color: hsla(223, 93%, 22%, 0.84);
	opacity: 0.9;
	padding: 4rem 0;
}

.contact-cta span {
	display: block;
	margin-bottom: 1rem;
	font-weight: 200;
	font-size: 1.4rem;
}

a:hover:not(.primary-btn, .secondary-button) {
	color: var(--secondary);
}
/* Footer */

footer {
	background-color: hsl(221, 53%, 13%);
	padding: 4rem;
}

footer * {
	color: white;
}

footer img {
	max-width: 17.8rem;
	height: 100%;
	justify-self: left;
}

footer > div {
	display: grid;
	grid-template: auto / repeat(3, minmax(auto, 1fr));
	grid-auto-flow: row;
	align-items: center;
	gap: 5rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid white;

	& > *,
	& ul {
		overflow: visible;
	}
}

@media screen and (max-width: 1045px) {
	footer > div {
		grid-template: auto / 1fr;
		justify-items: center;
		gap: 1rem;
		& > * {
			align-content: center;
		}
	}

	footer > div > a img {
		margin-bottom: 0.5rem;
	}

	footer > div > a {
		min-width: auto;
	}

	footer {
		background-color: hsl(221, 52%, 13%);
		padding: 2rem;
	}
}

ul.footer-nav {
	display: flex;
	list-style: none;
	gap: 2rem;
	justify-content: center;
}

.footer-nav li {
	flex-shrink: 0;
}

footer > div > a {
	min-width: 17rem;
}

footer a,
.socials * {
	font-size: 1.2rem;
	text-decoration: none;
}

.socials {
	display: flex;
	gap: 0.5rem;
}

footer .socials {
	justify-content: right;
}

span.copywrite {
	text-align: center;
	display: block;
	margin-top: 1.5rem;
}
