@use "../partials" as *;
/*Global*/
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2rem;
	& li {
		margin-bottom: 0.6rem;
		line-height: 2em;
	}
	& ul {
		margin-bottom: 1.1em;
	}
}

.container-grid {
	display: grid;
	align-content: center;
	row-gap: 3.7rem;
	max-width: 1280px;
	margin: 60px auto;
	padding: 0 20px;
}

.curved {
	border-radius: 1.1rem;
}

footer ul,
nav ul,
.contact-info {
	padding-inline-start: 0;
	list-style-type: none;
}
