@use "../partials" as *;
/* Footer */
footer {
	background-color: hsl(221, 53%, 13%);
	padding: 4rem;
}

footer * {
	color: white;
	transition: 0.3s ease-in-out;
}

footer img {
	max-width: 17.8rem;
	height: 100%;
	justify-self: left;
}

footer > div {
	display: grid;
	grid-template: auto / repeat(3, minmax(auto, 1fr));
	grid-auto-flow: row;
	align-items: center;
	gap: 5rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid white;

	& > *,
	& ul {
		overflow: visible;
	}
}

@media screen and (max-width: 1045px) {
	footer > div {
		grid-template: auto / 1fr;
		justify-items: center;
		gap: 1rem;
		& > * {
			align-content: center;
		}
	}

	footer > div > a img {
		margin-bottom: 0.5rem;
	}

	footer > div > a {
		min-width: auto;
	}

	footer {
		background-color: hsl(221, 52%, 13%);
		padding: 2rem;
	}
}

ul.footer-nav {
	display: flex;
	list-style: none;
	gap: 2rem;
	justify-content: center;
}

.footer-nav li {
	flex-shrink: 0;
}

footer > div > a {
	min-width: 17rem;
}

footer a,
.socials * {
	font-size: 1.2rem;
	text-decoration: none;
}

.socials {
	display: flex;
	gap: 0.5rem;
}

footer .socials {
	justify-content: right;
}

span.copywrite {
	text-align: center;
	display: block;
	margin-top: 1.5rem;
}